/* General Stylings */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}

.title {
  font-family: "Montserrat Subrayada", sans-serif;
}

body {
  --background-color: snow;
  --text-color: black;
  --gradient-color-1: #ffffff;
  --gradient-color-2: #efe4ac;
  --accent-color: #fffacd;
  --accent-text-color: #696969;
  --nav-link-text-active-color: #ffd700;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

@media screen and (prefers-color-scheme: dark) {
  body {
    --background-color: snow;
    --text-color: black;
  }
}

*::selection {
  background-color: var(--accent-color);
}

/* Specific Stylings */

.header {
  padding: 0rem 1rem;
  padding-top: 4.5rem;
  text-align: center;
  background-image: linear-gradient(
    180deg,
    var(--gradient-color-1) 10%,
    var(--gradient-color-2) 90%
  );
  position: relative;
}

.heading-group {
  font-size: 4rem;
}

.main-heading {
  font-size: 1em;
  color: transparent;
  background-image: linear-gradient(
    0deg,
    var(--gradient-color-1) 10%,
    var(--gradient-color-2) 90%
  );
  -webkit-text-stroke: 1px black;
  -webkit-background-clip: text;
  background-clip: text;
}

.title {
  font-size: 0.25em;
  margin-top: 2rem;
  margin-bottom: 4.06rem;
  margin-right: 11.87rem;
  margin-left: 11.87rem;
}

.title::after {
  content: "🔝😎💻🛫🌊🌎🌞";
}

.hire-me {
  position: absolute;
  right: 1.87rem;
  top: 1.87rem;
  padding: 0.37rem;
  background: var(--gradient-color-2);
  color: var(--accent-text-color);
  border: 0.12rem var(--accent-text-color) solid;
  opacity: 0.5;
}

.header:hover .hire-me {
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
  transform: scale(1.5);
  opacity: 1;
}

.header:focus-within .hire-me {
  transform: scale(1.5);
}

@media screen and (min-width: 992px) {
  .hire-me {
    position: fixed;
  }
}

@media print {
  .hire-me {
    display: none;
  }

  .navigation {
    display: none;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .navigation {
    flex-direction: row;
    justify-content: center;
  }
}

.nav-link {
  padding: 0.25rem 1rem;
  color: var(--accent-text-color);
  transition-property: background-color ease-in-out;
  transition-duration: 0.25s;
}

.nav-link:hover {
  color: vac(--text-color);
  background-color: var(--accent-color);
}

.nav-link:active {
  color: var(--nav-link-text-active-color);
  background-color: var(--accent-color);
}

.nav-link:focus {
  background-color: var(--accent-color);
  outline-color: var(--accent-text-color);
  outline-style: groove;
}

@media screen and (min-width: 768px) {
  .nav-link + .nav-link {
    margin-left: 1rem;
  }
}

.main {
  max-width: 55ch;
  margin: 0 auto;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .main {
    max-width: 80ch;
  }
}

.main > * + * {
  margin-top: 3rem;
}

@media screen and (min-width: 768px) {
  .main > * + * {
    margin-top: 8rem;
  }

  .main > *:first-child {
    margin-top: 2rem;
  }
}

.main > *:first-child {
  border-top: none;
}

.main-article {
  border-top: 0.18rem solid var(--gradient-color-2);
  padding: 0.31rem 1.5rem;
}

@media screen and (min-width: 768px) {
  .main-article {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .main-article-content {
    margin-top: 4rem;
  }
}

.main-article-heading {
  position: relative;
  left: -1rem;
}

.experience-header {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .experience-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}

.main-article-heading-contact {
  position: relative;
}

.footer {
  margin-top: 2rem;
  background-color: var(--gradient-color-2);
  padding: 2rem;
}

.footer-text {
  text-align: center;
  margin: 0;
}

.footer-link,
.footer-link:link,
.footer-link:hover,
.footer-link:active,
.footer-link:visited {
  color: var(--accent-text-color);
}
