/* General Stylings */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}

.title {
  font-family: "Montserrat Subrayada", sans-serif;
}

body {
  margin: 0;
}

*::selection {
  background-color: #fffacd;
}

/* Specific Stylings */

.header {
  padding: 0rem 1rem;
  padding-top: 4.5rem;
  text-align: center;
  background-color: #efe4ac;
  position: relative;
}

.heading-group {
  font-size: 4rem;
}

.main-heading {
  font-size: 1em;
}

.title {
  font-size: 0.25em;
  margin-top: 2rem;
  margin-bottom: 4.06rem;
  margin-right: 11.87rem;
  margin-left: 11.87rem;
}

.title::after {
  content: "🔝😎💻🛫🌊🌎🌞";
}

.hire-me {
  position: absolute;
  right: 1.87rem;
  top: 1.87rem;
  padding: 0.37rem;
  background: #fffacd;
  color: #696969;
  border: 0.12rem solid #696969;
}

@media screen and (min-width: 992px) {
  .hire-me {
    position: fixed;
  }
}

@media print {
  .hire-me {
    display: none;
  }

  .navigation {
    display: none;
  }
}

*.nav-link {
  padding: 0.25rem 1rem;
  color: #696969;
}

.nav-link:hover {
  color: black;
  background-color: #fffacd;
}

.nav-link:active {
  color: #ffd700;
  background-color: #white;
}

.main {
  max-width: 55ch;
  margin: 0 auto;
  padding: 1rem;
}

.main > * + * {
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .main > * + * {
    margin-top: 5rem;
  }
}

.main > * {
  border-bottom: 0.12rem solid #efe4ac;
  padding: 0.31rem 1.5rem;
}

.main > *:first-child {
  margin-top: 3rem;
}

.main > *:last-child {
  border-bottom: none;
  text-align: right;
}

.experience-heading {
  display: inline-block;
}

.experience-subheading {
  display: inline-block;
}

.article-heading {
  position: relative;
  left: -2.81rem;
}

.article-heading-contact {
  position: relative;
  left: 2.81rem;
}
